@{
    ViewData["Title"] = "Home Page";
}

    <h1>Welcome to Enter/View your Measurements for randomness!!</h1>

    <section class="text-center">
        <form  method="post" role="form">
            <button type="submit" asp-action="GridView" asp-controller="Home" class="d-inline-block">View Measurments</button>
            <button type="submit" asp-action="AddMeasurement" asp-controller="Home">Add Measurment</button>
        </form>
    </section>
