@model UmbaniApiTest.ViewModels.EditMeasurmentViewModel

@{
    ViewData["Title"] = "Edit Measurement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Measurement</h4>
<hr />
<section class="row">
    <section class="col-md-4">
        <form asp-action="GridView" asp-controller="Home" method="post" role="form">
            <section asp-validation-summary="ModelOnly" class="text-danger"></section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="temperature">Temperature:</label>
                <input type="number" class="form-control" asp-for="Temperature" id="temperature" placeholder="Enter Temperature" value="" name="temperature">
            </section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="humidity">Humidity:</label>
                <input type="number" class="form-control" asp-for="Humidity" id="humidity" placeholder="Enter Humidity" value="" name="humidity">
            </section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="humidity">Weight:</label>
                <input type="number" class="form-control" asp-for="Weight" id="weight" placeholder="Enter Weight" value="" name="weight">
            </section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="depth">Depth:</label>
                <input type="number" class="form-control" asp-for="Depth" id="depth" placeholder="Enter Depth" value="" name="depth">
            </section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="height">Height:</label>
                <input type="number" class="form-control" asp-for="Width" id="height" placeholder="Enter Height" value="" name="height">
            </section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="lenght">Lenght:</label>
                <input type="number" class="form-control" asp-for="Lenght" id="lenght" placeholder="Enter Lenght" value="" name="lenght">
            </section>
            <section class="form-group">
                <label class="control-label col-sm-2" for="catagory">Catagory:</label>
                <select class="form-control" asp-for="ItemCatagory" id="catagory">
                    <option value="1">Line 1</option>
                    <option value="2">Line 2</option>
                    <option value="3">Line 3</option>
                </select>
            </section>
            <section class="form-group">
                <section class="col-sm-offset-2 col-sm-10">
                    <section class="checkbox">
                        <label><input type="checkbox" name="pass" value=""> Pass</label>
                    </section>
                </section>
            </section>
            <section class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </section>
        </form>
    </section>
</section>

<section>
    <a asp-action="GridView" asp-controller="Home">Back to List</a>
</section>